.App {
  font-family: system-ui;
  background: #3b5998;
  height: 100%;
  color: white;
  text-align: center;
}

body {
  background: #3b5998;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  padding-bottom: 50px;
  color: white;
}

/*.App-intro {
  font-size: large;
}
*/
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
