.chatBubble {
  font-family: system-ui;
  color: white;
  background: gray;
  text-align: center;
  flex-basis: 40%;
  height: auto;
  border-radius: 25px;
  padding: 10px;
  position: relative;
  display: block;
  max-width: 400px;
}

.sent-by-user {
  margin-left:auto;
  margin-right:0;
  background-color: #0084ff;
}

.received-by-user {
  left: 0px;
  background-color: #EEE;
  color: black;
}

.bumper {
  flex-basis: 60%;
}

.blank-line {
  height: 0;
  flex-basis: 100%;
}

.very-negative-message {
  animation: very-negative-message-pulse 0.5s infinite;
}

.somewhat-negative-message {
  animation: somewhat-negative-message-pulse 0.5s infinite;
}

.neutral-message {
  animation: neutral-pulse 0.5s infinite;
}

.somewhat-positive-message {
  animation: somewhat-positive-message-pulse 0.5s infinite;
}

.very-positive-message {
  animation: very-positive-message-pulse 0.5s infinite;
}


@keyframes very-negative-message-pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #ff0000;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes somewhat-negative-message-pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #ff8787;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes neutral-message-pulse {
	0% {
		transform: scale(0.999);
		box-shadow: 0 0 0 0 #fff;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.999);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes somewhat-positive-message-pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #15ff00;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes very-positive-message-pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #00ddff;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
